@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

.toggle-checkbox:checked {
  right: 0;
}
.toggle-checkbox:checked + .toggle-label {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2241_4706)'%3E%3Cpath d='M5.95692 1.61859C6.52525 1.29047 7.11652 1.06457 7.72447 0.930074C5.9238 2.88623 5.51686 5.85638 6.91686 8.28125C8.31686 10.7061 11.0926 11.8388 13.687 11.2574C13.2665 11.7167 12.7753 12.1158 12.2069 12.4439C9.21913 14.1689 5.39426 13.144 3.66926 10.1562C1.94426 7.16846 2.96913 3.34359 5.95692 1.61859Z' fill='%23C6CBCE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2241_4706'%3E%3Crect width='15' height='15' fill='white' transform='matrix(-1 0 0 1 15 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-position: left 0.2rem center;
}

.toggle-label {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99992 3.49349C5.06639 3.49349 3.49341 5.06679 3.49341 7.00031C3.49341 8.93384 5.06639 10.5071 6.99992 10.5071C8.93313 10.5071 10.5064 8.93415 10.5064 7.00031C10.5064 5.06648 8.93313 3.49349 6.99992 3.49349Z' fill='%23B7BFCB'/%3E%3Cpath d='M7.00011 2.46271C6.62221 2.46271 6.31592 2.15642 6.31592 1.77883V0.68419C6.31592 0.306289 6.62221 0 7.00011 0C7.37801 0 7.6843 0.306289 7.6843 0.68419V1.77883C7.6843 2.15642 7.3777 2.46271 7.00011 2.46271Z' fill='%23B7BFCB'/%3E%3Cpath d='M7.00011 11.537C6.62221 11.537 6.31592 11.8433 6.31592 12.2212V13.3155C6.31592 13.6937 6.62221 14 7.00011 14C7.37801 14 7.6843 13.6937 7.6843 13.3155V12.2212C7.6843 11.8433 7.3777 11.537 7.00011 11.537Z' fill='%23B7BFCB'/%3E%3Cpath d='M10.208 3.79172C9.94108 3.52449 9.94108 3.09141 10.208 2.82418L10.9821 2.05009C11.249 1.78317 11.6824 1.78317 11.9496 2.05009C12.2169 2.31732 12.2169 2.75071 11.9496 3.01762L11.1755 3.79172C10.9086 4.05894 10.4755 4.05894 10.208 3.79172Z' fill='%23B7BFCB'/%3E%3Cpath d='M3.79179 10.2086C3.52456 9.94105 3.09148 9.94105 2.82425 10.2086L2.05016 10.9824C1.78324 11.2493 1.78293 11.683 2.05016 11.9499C2.31739 12.2168 2.75078 12.2168 3.0177 11.9499L3.79179 11.1755C4.05901 10.9086 4.05901 10.4752 3.79179 10.2086Z' fill='%23B7BFCB'/%3E%3Cpath d='M11.5369 7C11.5369 6.6221 11.8432 6.31581 12.2211 6.31581H13.3157C13.6936 6.31581 13.9999 6.6221 13.9999 7C13.9999 7.3779 13.6936 7.68388 13.3157 7.68388H12.2211C11.8432 7.68388 11.5369 7.3779 11.5369 7Z' fill='%23B7BFCB'/%3E%3Cpath d='M2.46271 7C2.46271 6.6221 2.15642 6.31581 1.77852 6.31581H0.68419C0.306289 6.31581 0 6.6221 0 7C0 7.3779 0.306289 7.68388 0.68419 7.68388H1.77883C2.15642 7.68388 2.46271 7.3779 2.46271 7Z' fill='%23B7BFCB'/%3E%3Cpath d='M10.208 10.2086C10.4752 9.94168 10.9086 9.94168 11.1755 10.2086L11.9496 10.9827C12.2168 11.2493 12.2168 11.683 11.9496 11.9499C11.6824 12.2168 11.2493 12.2168 10.9821 11.9499L10.208 11.1758C9.94076 10.9086 9.94076 10.4755 10.208 10.2086Z' fill='%23B7BFCB'/%3E%3Cpath d='M3.79166 3.79172C4.05889 3.52449 4.05889 3.09141 3.79166 2.82418L3.01757 2.0504C2.75034 1.78317 2.31726 1.78317 2.05003 2.0504C1.7828 2.31731 1.7828 2.75071 2.05003 3.01762L2.82412 3.79172C3.09135 4.05925 3.52443 4.05925 3.79166 3.79172Z' fill='%23B7BFCB'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.2rem center;
}

.markdown {
  @apply prose;
}

.markdown :where(tbody td):not(:where([class~="not-prose"] *)) {
  vertical-align: middle !important;
  padding: 1rem;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-slate-300;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-slate-500;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}

svg,
svg path {
  fill: currentColor;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
