@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

.toggle-checkbox:checked {
  @apply right-0 border-green-400;
  right: 0;
  border-color: #484c64;
}
.toggle-checkbox:checked + .toggle-label {
  @apply bg-green-400;
  background-color: #484c64;
}

.markdown {
  @apply prose;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
