@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

.toggle-checkbox:checked {
  @apply right-0 border-green-400;
  right: 0;
  border-color: #484c64;
}
.toggle-checkbox:checked + .toggle-label {
  @apply bg-green-400;
  background-color: #484c64;
}

.markdown {
  @apply prose;
}

.markdown :where(tbody td):not(:where([class~="not-prose"] *)) {
  vertical-align: middle !important;
  padding: 1rem;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-slate-300;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-slate-500;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}

svg,
svg path,
svg rect {
  fill: currentColor;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
