/* .admonition,
.alert {
  color: black;
}

.admonition-tip {
  background-color: #f7f8fe;
  color: black;
}

.admonition-caution {
  background-color: #f7f8fe;
}

.admonition-info {
  background-color: #f7f8fe;
} */
